
<!--Intro-->
<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Cybersecurity compliance made easy with CyberComply Assistant</span>
            <div class="text-6xl text-primary font-bold mb-3">Your virtual compliance expert</div>
            <p class="mt-0 mb-4 text-700 line-height-3">CyberComply Assistant is your all-in-one solution for managing your cybersecurity compliance. We help you automate and streamline your compliance tasks, gather and manage compliance data, generate comprehensive reports, and provide a compliance guide powered by AI.</p>
        <!--  <button pButton pRipple label="Learn More" type="button" class="mr-3 p-button-raised">Learn more</button>
            <button pButton pRipple label="Try now" type="button" class="p-button-outlined">Try now</button>-->
            <button class="button button1">Learn More</button>
            <button class="button button2">Try Now</button>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="assets/images/overviewImage.jpg" alt="Image don't found" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%);max-height: 100%; max-width: 100%">
        <a href="http://www.freepik.com">Designed by Freepik</a>
 </div>
</div>

<!--Services-->

<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-3xl">
        <span class="text-900">One Product, </span>
        <span class="text-blue-600">Many Solutions</span>
    </div>
    <div class="text-700 mb-6">Services</div>
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Manage compliance tasks</div>
            <span class="text-700 line-height-3">Automate and streamline your compliance tasks with our intuitive dashboard.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-lock text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Vulnerability Management</div>
            <span class="text-700 line-height-3">Identify, prioritize, and remediate security weaknesses, safeguarding their systems and data from potential threats.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-chart-bar text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Risk Assessment and Prioritization</div>
            <span class="text-700 line-height-3">Identify, assess, and prioritize cybersecurity risks to safeguard their valuable assets and operations.</span>
        </div>
        <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-shield text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Incident Response</div>
            <span class="text-700 line-height-3">Effectively prepare for, respond to, and recover from cybersecurity incidents to minimize downtime and financial losse</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-check-circle text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Compliance reports</div>
            <span class="text-700 line-height-3">Generate comprehensive reports to demonstrate your compliance posture.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-globe text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">AI compliance guide</div>
            <span class="text-700 line-height-3">Leverage our AI-powered compliance guide to identify and remediate potential risks.</span>
        </div>
    </div>
</div>
