@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.scss";
@import "primeicons/primeicons.css";

.button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    border-radius: 8px;
    cursor: pointer;
  }

  .button2 {
    background-color: #3B82F6;
    color: white;
    border: 2px solid #3069c6;
  }

  .button2:hover {
    background-color: black;; /* Change background color on hover */
    color: white; /* Change text color on hover */
  }


textarea{
    border-style: none;
}

.container {

    display: flex;
    justify-content: center;

  }


.container-button {

  display: flex;
  justify-content: center;

}
