.legend {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px; /* Add a margin to the bottom of the legend */
}

td:first-child {
  padding: 0 10px; /* Add horizontal padding to the table cells */
}

h2 {
  text-align: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

.legend div {
  display: flex;
  align-items: center;
}

.legend span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.low1 {
  display: flex;
  justify-content: center;
  background-color: #8FBC8F; /* DarkSeaGreen */
}

.low {
  background-color: #8FBC8F; /* DarkSeaGreen */
}


.low-med {
  background-color: #FFFF99;
}
.medium1 {
  background-color: #FFD700;
  display: flex;
  justify-content: center;
}
.medium {
  background-color: #FFD700;
}

.med-high1 {
  background-color: #FFA07A; /* LightSalmon */
  display: flex;
  justify-content: center;
}

.med-high {
  background-color: #FFA07A; /* LightSalmon */
}

.high1 {
  background-color: #B22222; /* FireBrick */
  display: flex;
  justify-content: center;
}
.high {
  background-color: #B22222; /* FireBrick */
}

.circle-button {
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: darkslategray;
  color: #fff;
  line-height: 30px;
  font-size: 15px;
  justify-content: center; /* Center the text horizontally */
  align-items: center; /* Center the text vertically */
}



.see-issues-button {
  margin-top: 20px;
  margin-left: 5%;
  background-color: white;
  color: #3B82F6;
  border: 2px solid #3069c6;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer; /* Add a pointer cursor on hover */
  /* Add any additional styling as needed */
}

.see-issues-button:hover {
  background-color: #3069c6;; /* Change background color on hover */
  color: white; /* Change text color on hover */
}

